- if @announcement.errors.any?
  #error_explanation
    %h2= "#{pluralize(@announcement.errors.count, "error")} prohibited this writer_application from being saved:"
    %ul
      - @announcement.errors.full_messages.each do |msg|
        %li= msg

= simple_form_for @announcement do |f|
  .actions
    = f.submit "Guardar"

  = f.input :title, label: "Título"
  = f.input :content, as: :ckeditor, label: "Contenido"
  = f.label :from, label: "Publicar desde"
  = f.text_field :from, class: :datepicker
  = f.label :to, label: "hasta"
  = f.text_field :to, class: :datepicker
  = f.input :front_page, label: "Publicar en la portada"


  .actions
    = f.submit 'Guardar'
