= actions do
  = link_to "Nueva noticia", new_announcement_path
  = link_to "Nuevo evento", new_event_path(announcement: true)

= render @announcements

= actions do
  = link_to "Nueva noticia", new_announcement_path
  = link_to "Nuevo evento", new_event_path(announcement: true)
