= actions do
  = link_to "Nueva noticia", new_announcement_path
  = link_to "Nuevo evento", new_event_path(announcement: true)

- @announcements.each do |entry|
  = render entry

= actions do
  = link_to "Nueva noticia", new_announcement_path
  = link_to "Nuevo evento", new_event_path(announcement: true)
