.settings
  %h1 Administrar sitio

  - settings.each do |setting|
    = simple_form_for(setting) do |f|
      .form
        %dl
          %dt= setting.title || setting.key
          %dd
            = f.input :value, label: false, as: setting.field_type
          - if setting.description.present?
            = setting.description
          %dd
            = actions do
              = link_to "Guardar", "#", id: "submit_#{setting.id}"
              :javascript
                $(document).ready(function(){
                  $("#submit_#{setting.id}").click(function(event){
                    $("#edit_settings_#{setting.id}").submit();
                    event.preventDefault();
                  });
                });
