= actions do
  = link_to 'Editar', edit_video_path(@video)
  = link_to 'Volver a Tramas', pages_tramas_path

%p#notice= notice

= render @video

= actions do
  = link_to 'Editar', edit_video_path(@video)
  = link_to 'Volver a Tramas', pages_tramas_path
