= actions do
  = link_to "Nueva noticia", new_announcement_path(front_page: true)
  = link_to "Nuevo evento", new_event_path(front_page: true)

- if Settings[:front_page_poster] || @announcements.empty?
  %center= image_tag @poster
- else
  = render @announcements

= actions do
  = link_to "Nueva noticia", new_announcement_path(front_page: true)
  = link_to "Nuevo evento", new_event_path(front_page: true)
