- present(MenuPresenter::Menu.new) do |menu|
  #menu
    %section.slide-up-boxes
      = menu.item_link("Inicio", root_path)
      = menu.item_link("Novedades", announcements_path)
      = menu.item_link("¿Quienes somos", pages_about_path)
      = menu.item_link("Comisión", dir_comission_path)
      = menu.item_link("Secretarías", secretaries_path)
      = menu.item_link("Formación", training_path)
      = menu.item_link("Agenda", events_path)
      = menu.item_link("Vida Institucional", pages_institutional_life_path)
      = menu.item_link("Tramas Digital", pages_tramas_path)
      = menu.item_link("Biblioteca", books_path)
      = menu.item_link("Contacto", new_message_path)
