#menu
  %section.slide-up-boxes
    = link_to("/") do
      %span Inicio
      %div  Inicio
    = link_to("/news_items") do
      %span Novedades
      %div  Novedades
    = link_to("/about") do
      %span ¿Quienes somos
      %div  ¿Quienes somos
    = link_to("/comision") do
      %span Comisión
      %div  Comisión
    = link_to("/secretaries") do
      %span Secretarías
      %div  Secretarías
    = link_to("/formacion") do
      %span Formación
      %div  Formación
    = link_to("/institutional_life") do
      %span Vida Institucional
      %div  Vida Institucional
    = link_to("/events") do
      %span Agenda
      %div  Agenda
    = link_to("/tramas") do
      %span Tramas Digital
      %div  Tramas Digital
    = link_to("/books") do
      %span Biblioteca
      %div  Biblioteca
    = link_to("/messages") do
      %span Contacto
      %div  Contacto
