!!!
%html
  %head
    %title Apcvc
    = stylesheet_link_tag    "application", media: "all"
    /[if IE]
      <haml_loud> stylesheet_link_tag  "ie_fixes", media: "all" </haml_loud>
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body#application_body
    #header
      = actions do
        .login-info
          = link_to "Administrar", admin_settings_path
          = link_to "Salir", destroy_admin_session_path, method: :delete
      = link_to(image_tag("Logo APCVCtrasparente.png", id: "logo_img"), root_url)
      = image_tag "25anivgente.png", id: "gente"
      = image_tag "tierra.png", id: "tierra"
    = render partial: "layouts/menu"
    #content
      = yield
    #footer
      %b Sede APCVC
      %br/
      Dirección:
      \#{link_to Settings[:address], Settings[:address_map], target: "#"}
      %br/
      Teléfono: #{Settings[:tel]}
      %br/
      mail: #{mail_to Settings[:email]}
      %br/
      Secretaría APCVC
      %br/
      Visitanos en #{link_to(image_tag("facebook.png", class: "facebook"), Settings[:facebook], target: "_blank")}
