%hr/
= actions do
  = link_to "Editar", edit_essay_path(essay)

- present(essay) do |essay|
  %h2= essay.title
  .tramas-article
    .event_date
      = link_to "Descargar Trabajo", essay_document_path(essay, format: :pdf)
    .essay-authors
      Autores:
      %ul
        - essay.authors.each do |author|
          %li= author
    .announcement_body
      %hr
      %h2 Abstract
      = essay.abstract.html_safe
