= simple_form_for @essay do |f|
  - if @essay.errors.any?
    #error_explanation
      %h2= "#{pluralize(@essay.errors.count, "error")} prohibited this writer_application from being saved:"
      %ul
        - @essay.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit "Guardar"

  .field
    = f.input :title
  .field
    = f.input :abstract, as: :ckeditor
    Autores:
    - @essay.authors.each_with_index do |author, i|
      = render "author_fields", title: author.title, name: author.name
    - 5.times do
      = render "author_fields"
  .field
    = f.label :document, label: "Archivo"
    = f.file_field :document, accept: 'application/pdf'

  .actions
    = f.submit 'Guardar'
