= actions do
  = link_to 'Volver a Tramas', pages_tramas_path
  = link_to 'Mostrar', @essay

%h1 Editing essay

= render 'form'

= actions do
  = link_to 'Volver a Tramas', pages_tramas_path
  = link_to 'Mostrar', @essay
