= actions do
  = link_to 'Editar', edit_essay_path(@essay)
  = link_to 'Volver a Tramas', pages_tramas_path

%p#notice= notice

= render @essay

= actions do
  = link_to 'Editar', edit_essay_path(@essay)
  = link_to 'Volver a Tramas', pages_tramas_path
